p {
  font-family: Lato;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

::ng-deep .carousel .carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')
  /* background-color: #000;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%; */
}

::ng-deep .carousel .carousel-control-next-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')
  /* background-color: #000;
  width: 50px;
  height: 50px;
  background-size: 41%;
  border-radius: 50%; */
}

::ng-deep .carousel .carousel-indicators li{
  background-color: red;
}

.box-div-externo {
  height: 450px;
  width: 600px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: rgb(213, 216, 42);
}
