<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div class="carousel-container">
  <carousel>
    <slide>
      <div class="box-div-externo">
        <div #divExterno1></div>
      </div>
    </slide>
    <slide>
      <div class="box-div-externo">
        <div #divExterno2></div>
      </div>
    </slide>
    <slide>
      <div class="box-div-externo">
        <div #divExterno3></div>
      </div>
    </slide>
    <slide>
      <div class="box-div-externo">
        <div>
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </slide>
  </carousel>
</div>
