p {
  font-family: Lato;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.box-div-externo {
  height: 350px;
  width: 500px;
  padding: 25px;
  border-radius: 5px;
  background-color: rgb(213, 216, 42);
}
